@charset "UTF-8";

/* todas as demais midias */

@media print {
    body{
        background-image: url(../img/icon-print.png);
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

    main{
        border: 2px solid black;
    }

    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: block;}
    img#pc{ display: none;}
    img#tv{ display: none;}
}
/* tablete */
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background: url(../img/back-tablet.jpg);
        background-position: center center;
    }

    img#phone{ display: none;}
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: none;}
}
/* desktop */
@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(../img/back-pc.jpg);
    }

    img#phone{ display: none;}
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#pc{ display: block;}
    img#tv{ display: none;}
}
/* grandes telas */
@media screen and (min-width: 1200px){
    body{
        background-image: url(../img/back-tv.jpg);
    }

    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: block;}
}