@charset "UTF-8";

/* versao mibile first */

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    border-radius: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url(../img/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;

}

main{
    background-color: rgba(255, 255, 255, 0.5);
    width: 90vw;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

h1{
    font-size: 2em;
    text-align: center;
    color: wheat;
    text-shadow: 2px 2px 0px black;
}

img{
    display: block;
    margin: auto;
}

img#phone{ display: block;}
img#tablet{ display: none;}
img#print{ display: none;}
img#pc{ display: none;}
img#tv{ display: none;}