@charset "UTF-8";

/* estilos para tela */

*{
    padding: 0px;
    margin: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; 
}

header{
    background-color: lightgray;
}
menu{
    background-color: darkgray;
}
menu li{
    background-color: rgb(117, 116, 116);
    color: white;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

main{
    width: 500px;
    margin: 0 auto;
}

article h1{
    font-size: 24px;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 1rem;
}

article p{
    padding: 0 20px;
    justify-content: center;
    line-height: 20px;
}

