@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body,html{
    background-color: lightgray;
}

header{
    background-color: gray;
}

header h1{
    padding: 10px;
    text-align: center;
}
#burguer{
    background-color: rgb(73, 73, 73);
    display: block;
}

menu{
    display: block;
}

menu ul{
    list-style: none;
}

menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(104, 103, 103);
    color: white;
    border-top: 1px solid rgb(189, 189, 189);
}

menu a:hover{
    background-color: rgba(211, 211, 211, 0.068);
}

main{
    width: 90vw;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

main article h2{
    padding-bottom: 10px;
}

article p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 10px;
}