@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
/*
no header foi usado 50px em cima e 50px embaixo para ficar simetrico.
*/


:root{
    --fonte-1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-2:"passion one", 'cursive';
    --fonte-3:"Sriracha", 'cursive';
}

html,body{
    min-height: 100vh;
    background-color: lightslategray;
    font-family: var(--fonte-1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    
}
header >h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-2);font-size: 10vw;
}
header >p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
    text-decoration: underline;
    border-radius: 2px;
    padding: 2px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte-3);
    font-size: 3.5vw;


}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(75, 74, 74);
    color: white;
}
section.imagem >p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 8px 0px 0px 0px;
   
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}